.reviewForm {
  width: 100%;
}

.inputWrapper {
  max-width: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formTitle {
  text-align: center;
}

.inputWrapper:not(last-child) {
  margin-bottom: 10px;
}

.clearBtn {
  border: 2px solid black;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px
}

.clearBtn:active {
  background-color: gray;
  color: white;
}