.restaurantTab {
  border: none;
  padding: 0 0 2px 0;
  background-color: transparent;
  border-bottom: 2px solid black;
  color: black;
  border-radius: none;
  font-size: 14px;
  text-decoration: none;
}

.restaurantTab.light {
  border-bottom: 2px solid black;
  color: black;
}

.restaurantTab.dark {
  border-bottom: 2px solid white;
  color: white;
}

.activeLink {
  color: orangered !important;
  border-bottom: 2px solid orangered !important;
}
